@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");



.Header{
    font-family: 'Source Sans Pro', sans-serif;
}

.Header span{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    color: gray;
padding: 20px;
    align-content: left;
}

.row1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 60px;
    height: 100vh;
    background-color: white;
}

.Map-Container {
    order: -1;
    position: relative;
    height: 80vh;
    flex-basis: 35%;
}

.leaflet-container {
    height: 670px;
    /* order: -1;
    flex-basis: 35%; */
    border-radius: 10px;
}


/* .sidePanel {
    order: 2;
    flex-basis: 60%;
    display: flex;
    padding: 20px 0px;
} */

.RightPanel {
    order: 1;
    position: relative;
    height: 93%;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.ChartContainer {
    order: 1;
    height: 60vh;
    width: 800px;
    display: flex;
    padding: 30px 0px 0px 0px;
}

.Chart {
    order: 1;
    height: 60vh;
    width: 800px;
}

.LoadingContainer {
    order: 1;
    height: 60vh;
    width: 800px
}

.Loader {
    margin: 0;
    position: relative;
    top: 50%;
    left: 400px;
    /* top: 50%;
    right: 50%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

.LoadingText {
    margin: 0;
    padding: 10px;
    position: relative;
    color: gray;
    top: 50%;
    left: 350px;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

.MapInfo {
    order: 2;
    padding: 0px 10px 0px 20px;
}

.NavPanel {
    order: 3;
    position: absolute;
    bottom: 0px;
}

.card {
    border: none
}

.card-header {
    background-color: white;
    border: none;
    padding: 10px 0px 0px 0px;
}

.accordion-toggle {
    background-color: white;
    border: none;
    color: gray;
}

.nav-link.active {
    background-color: gray;
}