.row1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    height: 100vh;
    background-color: white;
}

.leaflet-container{
    height: 83vh;
    order: -1;
    flex-basis: 35%;
}


.sidePanel {
    /* width: 50px; */
    order: 2;
    flex-basis: 60%;
}

.Loader {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.LoadingText{
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}