.row1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 60px;
    height: 100vh;
    background-color: white;
}
.Map-Container{
    height: 80vh;
}

.leaflet-container{
    height: 100%;
    order: -1;
    flex-basis: 35%;
    border-radius: 10px;
}

.sidePanel {
    order: 2;
    flex-basis: 60%;
    display: flex;
    padding: 20px 0px;
}

.RightPanel {
    order: 1;
    position: relative;
    height: 80vh;
    width: 800px;
    display: flex;
}

.ChartContainer {
    order: 1;
    height: 60vh;
    width: 800px;
    display: flex;
}

.Chart {
    order: 1;
    height: 60vh;
    width: 800px;
    display: flex;
}


.LoadingContainer{
    order: 1;
    width: 800px
}

.Loader {
    margin: 0;
    position: relative;
    top: 50%;
    left: 400px;
    /* top: 50%;
    right: 50%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

.LoadingText{
    margin: 0;
    padding: 10px;
    position: relative;
    color: gray;
    top: 50%;
    left: 350px;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

.NavPanel{
    position: absolute; 
    bottom: 0px; 
}

.card{
    border: none
}

.card-header{
    background-color: white;
    border: none;
}

.accordion-toggle {
    background-color: white;
    border: none;
    color: gray;
}
.nav-link.active{
    background-color: gray;
}
    